/* Configure Support of HTML5. Add the following style rule to configure most older browsers
to render HTML5 block display elements as expected. (Chap 8) */
header, main, nav, footer, figure, figcaption, aside, section, article { display: block; }

/*
 ********************************************************************************************
 * Applies to all pages																																			*
 ********************************************************************************************
 */
 
body { 
	color: #000000;											/* set text color to black */
	font-family: "sans-serif";					/* set font to sans serif */
	background-color: #a2ffe3;					/* set background color to dark blue */
}
	   
header { 
	background: radial-gradient(100% 50% at top, #a2ffe3,#ffffff);		/* radial fade from dark blue to light blue */
	color: #000000;																										/* set text color to black */
	background-position: right;																				/* set text to right */
	background-repeat: no-repeat;
	height: 120px;
	padding-top: 10px;
	padding-right: 1em;
	border-bottom: 1px solid #000033;
}

#headerImage {
	background-image: url(bridgeHeader.png);
	float: left;
	position: relative;
	height: 109px;
	width: 200px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#smithfield {
	background-image: url(SmithfieldBridge.jpg);
	height: 350px;
	margin-top: 10px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 80px;
	margin-right: 80px;
}

main {
	background: #ffffff;								/* set background color to light blue */
	margin-left: 150px;
	margin-right: 150px;
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	float: center;											/* main to float in center */
	display: block;
}

#wrapper { 
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	border: 1px solid #000033;
	min-width: 960px;
	max-width: 2048px;
}

#bridge {
	background-image: url(bridge.png);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
	margin-right: 190px;
}

nav {
	padding: 0.5em;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
	border-bottom: 1px solid #000033;
	display: block;
}
	
	nav li {
		display: inline;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		padding-left: 0.75em;
		padding-right: 0.75em;
	}

nav ul {
	margin: 0;
	font-size: 1.2em;
	list-style-type: none;
	list-style-image: none;
}

nav a { 
	text-decoration: none;
	transition: color 3s ease-out; 
	padding: 10px;
}

nav a:link		{ color: #a2ffe3; }			/* link color black */
nav a:visited	{ color: #221a91; }			/* visited link color light blue */
nav a:hover		{ color: #000000; }			/* hover color white */
		
h1 { 
	margin-top: 4em;
	margin-bottom: 0;
	font-family: Book Antiqua;
	font-size: 1em;
	letter-spacing: 0.15em;
	text-align: right;
}
		
h2 { 
	color: #221a91;
	font-family: Georgia, Times New Roman, sans-serif;
	text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
	font-family: Georgia, Times New Roman, sans-serif;
	color: #221a91
}

main ul {
	list-style-type: none;
}

.bridger { 
	color: #221a91;
	font-weight: bold;
}

.footer {
	background-color: #ffffff;
	padding: 20px;
	margin-left: 190px;
	margin-right: 190px;
}

.footerText {
	float: right;
	text-align: center;
	font-size: 75%;
	font-style: italic;
	font-family: Georgia, Times New Roman, sans-serif;
}

/* I was having issues with the Facebook button not allowing text to float next to it. This fix was obtained
	from Stack Overflow https://stackoverflow.com/questions/4770372/misalignment-of-facebook-twitter-buttons */
.fb-share-button span {
   top: -6px;
}

* { box-sizing: border-box; }

#mobile { 
	display: none;
}

#desktop { 
	display: inline;
}
/*
 ********************************************************************************************
 * Index page		``																																					*
 ********************************************************************************************
 */

video, embed { 
	float: right;
	margin-top: -60px;
	position: relative;
}

/*
 ********************************************************************************************
 * Contact us page																																					*
 ********************************************************************************************
 */
 
label {
	float: left;
	display: block;
	text-align: right;
	width: 120px;
	padding-right: 10px;
}

input {
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
}

textarea {
	display: block;
	margin-bottom: 20px;
}

input[type="submit"] { margin-left: 130px; }
  
#contact {
	font-size: 90%;
}

form {
	margin-right: 300px;
}

/*
 ********************************************************************************************
 * About us page																																						*
 ********************************************************************************************
 */
		
#gallery {
	position: relative;
	margin: 0 auto;
  max-width: 700px;
	height: 300px;
}

#gallery ul {
	list-style-type: none;
	width: 300px; 
}

#gallery li { 
	display: inline; 
	float: left;
	padding: 8px; 
}
#gallery img { 
	border-style: none;
}

#gallery a { 
	text-decoration: none;
	font-style: italic;  
	color: #000000; 
}

#gallery span { 
	position: absolute;
	left: -1000px;
	opacity: 0;
	transition:  opacity 1s ease-in-out; 
}
#gallery a:hover span {     
	position: absolute;
	top: 16px;
	left: 320px; 
	text-align: center; 
	opacity: 1; 
}
figure {
	position: absolute;
	left: 280px;
	text-align: center; 
	opacity: .5;
}

/*
 ********************************************************************************************
 * About us page																																						*
 ********************************************************************************************
 */

dt{ 
	color: #221a91;
}

/*
 ********************************************************************************************
 * Analytics page																																						*
 ********************************************************************************************
 */

table { 
	margin: auto;
	border: 2px solid #3399CC;
	border-collapse: collapse;
}

td, th {
	border: 2px solid #3399CC;
	padding: 0.5em;
}

td {
	text-align: center;
}

.text {
	text-align: left;
}

tr:nth-of-type(odd) { background-color: #F5FAFC; }

/*
 ********************************************************************************************
 * Profile page																																							*
 ********************************************************************************************
 */

 #userPhoto {
	padding-top: 20px;
}

 #fbButton {
	float: left;
	margin-left: 500px;
	margin-top: -50px;
	position: absolute;
}
 
/*
 ********************************************************************************************
 * Map page																																									*
 ********************************************************************************************
 */
 
#map {
	margin: 20px 400px 20px 0;
	padding-bottom: 20px;
  height: 300px;  				/* The height is 400 pixels */
  width: 100%;  						/* The width is the width of the web page */
	float: center;
	position: relative;
}

#mapUser {
	text-align: left;
	padding-top: 20px;
  height: 450px;  				/* The height is 400 pixels */
  width: 50%;  						/* The width is the width of the web page */
	float: center;
	position: relative;
}

@media only screen and (max-width: 64em) {

/*
 ********************************************************************************************
 * Applies to all pages																																			*
 ********************************************************************************************
 */

	body {
		margin: 0;
		background-color: #a2ffe3;					/* set background color to dark blue */
	}
	
	#wrapper {
		min-width: 0;
		width: auto;
		box-shadow: none;
		border: 1px solid #000033;
	}
	
	header {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: 0;
		height: 120px;
	}
	
	h1 {
		letter-spacing: 0.1em;
	}
	
	main {
		margin-left: 0;
		margin-right: 0;
	}
	
	nav {
		float: none;
		width: auto;
		text-align: center;
		padding: 0.5em;
	}
	
	nav li {
		display: inline;
		padding: 0;
		border: 1px solid #000033;
		border-radius: 15px;
	}
	
	nav ul {
		padding: .5px;
	} 
	
	#fbButton {
		float: right;
		margin-right: 100px;
		position: relative;
	}
	
	.footer {
		margin-left: 0;
		margin-right: 0;
		background-color: #ffffff;
	}

	#smithfield {
		margin-left: 0;
		height: 250px;
	}
}

@media only screen and (max-width: 37.5em) {

/*
 ********************************************************************************************
 * Applies to all pages																																			*
 ********************************************************************************************
 */

	main {
		padding-bottom: 0.1em;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 90%;
		margin-left: 0;
	}
	
	h1 {
		letter-spacing: 0.1em;
	}
	
	header {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: 0;
		height: 120px;
		border: none;
		border-bottom: 1px solid #000033;
	}
	
	nav {
		padding: 0;
	}
	
	nav li {
		display: block;
		margin: 0;
		border-top: 1px solid #000033;
	}
	
	nav ul {
		display: block;
		padding-inline-start: 0;
	}
	
	.fb-share-button span {
   top: -6px;
	}

	.footerText {
		display: none;
	}
	
	#mobile {
		display: inline;
	}
	
	#desktop {
		display: none;
	}
	
	#gallery {
		display: none;
	}

	#smithfield {
		background-image: none;
		height: 0;
	}
	
	#headerImage {
		background-image: none;
		height: 0;
	}
	
	label {
		float: none;
		text-align: left;
	}
		
	input[type="submit"] { margin-left: 0; }
}